RENDER_URL=https://course-mvp-beta.onrender.com
RENDER_SERVICE_ID=srv-d21f9u15pdvs73frvns0

LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

REDIS_URL=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

ENABLE_DAILY_RECURRING=false
ENABLE_AI_FALLBACK=false


